[Unit]
Description=Goatstream

[Service]
Type=simple
User=goatstream
Restart=always
RestartSec=12
ExecStart=/home/goatstream/stream.sh

[Install]
WantedBy=default.target
